/* استایل برای صفحه */
body {
    font-family: Tahoma, Arial, sans-serif;
    background-color: #fff; /* سفید */
    color: #000; /* مشکی */
    margin: 0;
    padding: 0;
}

/* هدر */
header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

h1 {
    color: #000;
    font-size: 36px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* محتوای اصلی */
main {
    padding: 20px;
    text-align: justify;
}

section p {
    font-size: 18px;
    line-height: 1.6;
}

/* فوتر */
footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: #000;
    border-top: 2px solid #FFD700; /* طلایی */
}

footer p {
    font-size: 16px;
    color: #000;
    font-weight: normal;
}

footer p:last-child {
    font-size: 14px;
    color: #FFD700; /* رنگ طلایی */
}
